* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
#root {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.app {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #202123;
    text-decoration: none;
    margin: 0;
}
.forgotpassword-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 120px 20px 20px;
    text-align: center;
}
.forgotpassword-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}
.forgotpassword-title {
    font-size: 32px;
    color: #202123;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: -30px;
}
.description {
    color: #353740;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
.forgotpasswordinput-field {
    width: 100%;
}
.forgotpasswordinput-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #10a37f;
}
.forgotpasswordinput-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #10a37f;
}
.forgotpasswordinput-field .MuiInputLabel-root.Mui-focused {
    color: #10a37f;
}
.forgotpasswordcontinue-button {
    width: 100%;
    padding: 14px 16px;
    background-color: #10a37f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: "OpenAI Sans", "SF Pro", -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 24px 0;
    transition: background-color 0.2s ease;
  }
.forgotpasswordcontinue-button:hover {
    background-color: #0E906F;
}
.back-link {
    color: #10A37F;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
.forgotpasswordoai-footer {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    flex-wrap: nowrap; 
    width: auto; 
    height: 57px;
    background-color: transparent;
    color: rgb(16, 163, 127);
    padding: 12px 0px 24px; 
    margin: 0px; 
    border: none; 
    box-shadow: none; 
    position: static; 
    z-index: auto;
    margin-top: 140px;
}
.forgotpasswordoai-footer .forgotpasswordseparator {
    margin: 0 10px;
    color: rgb(110, 110, 128);
}
.forgotpasswordoai-footer a {
    text-decoration: none; 
    color: rgb(16, 163, 127);
    font-size: small;
}
